/**
* Accordeon
*/
.accordeon{
    display: flex;
}

details {
    position: relative;
    width: 130px;
  }

details[open] {
    width: 300px;
    transition: all 0.3s ease;
  }
  
details>div{
    padding-left: 130px;
    width: 170px;
    }
details>summary {
    position:absolute;
    top: 0;
    left: 0;
}